<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<script>
try {
	let rendering=new IRender();
} catch(ex) {
    let thisObject=this,e=document.createElement("script");
	e.type="application/javascript";
	e.src = "/{{baseURL}}/initialise"
	e.onload = function () {
        console.log("Loaded /{{baseURL}}/initialise");
        render();
	}
    document.getElementsByTagName("head")[0].appendChild(e);
}
	
function render() {	
	let rendering=new IRender();
	rendering.setWindow({title:"{{title}}",footer:"{{footer}}",pane:"_main"})
	.add({{&definition}})
	.build();
	console.log("rendering completed");
}
	</script>
<body class="IRender">
</body>
</html>